.interactions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeec;
  padding: 5em; }
  .interactions__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%; }
    .interactions__content-button {
      margin-top: 40px;
      padding: 10px 20px;
      background-color: #f4572a;
      color: white;
      transition: all 0.4s ease-in-out;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 0px 3px rgba(0, 0, 0, 0.23); }
    .interactions__content-button:hover {
      background: linear-gradient(180deg, #f4572a 0%, #ffa913 100%);
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.16), 0 6px 9px rgba(0, 0, 0, 0.23); }
    .interactions__content-image {
      background-image: url("../assets/team.jpg");
      height: 600px;
      width: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    .interactions__content-list {
      list-style: none; }
      .interactions__content-list-join {
        font-weight: bold;
        padding-top: 20px; }
    .interactions__content-list h3 {
      font-size: 18px;
      font-family: "Source Sans Pro", sans-serif;
      padding: 20px 0; }
    .interactions__content-list li {
      font-size: 14px;
      margin-bottom: 5px; }
    .interactions__content-media {
      display: flex;
      margin-top: 20px; }
      .interactions__content-media-icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.5);
        transition: 0.5s all;
        margin: 10px; }
      .interactions__content-media-icon:hover {
        border: 1px solid #f4572a;
        color: #f4572a; }
  .interactions__content h3 {
    font-size: 16px;
    text-align: left; }
