.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em; }
  .benefits__header {
    font-size: 26px;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .benefits__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    padding: 3em;
    width: 70vw; }
    .benefits__content-element {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      padding: 20px; }
      .benefits__content-element-img {
        width: 75px;
        height: 75px;
        border: 1px solid #f4572a;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out; }
      .benefits__content-element-img:hover {
        border: 1px solid rgba(255, 255, 255, 0);
        background-color: #f8e1db; }
    .benefits__content-element h3 {
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 20px; }
    .benefits__content-element p {
      width: 80%;
      font-weight: 200;
      text-align: center;
      font-size: 14px;
      padding-bottom: 20px;
      transition: all 0.3s ease-in-out; }
    .benefits__content-element p:hover {
      transform: scale(1.05); }

.collateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/img3.jpg");
  background-attachment: fixed;
  position: relative;
  padding: 9em; }
  .collateral__content {
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    width: 60%;
    line-height: 36px;
    font-family: "Source Sans Pro", sans-serif; }
  .collateral__icon {
    border: 1px solid rgba(255, 255, 255, 0.7);
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 33px;
    left: 49%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center; }
  .collateral__icon:hover {
    bottom: 25px; }

.collateral::before {
  background-color: #021a1965;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9em;
  background-color: #0b423d;
  color: #fff; }
  .footer__content {
    width: 50%;
    display: flex;
    justify-content: space-between; }
    .footer__content-element {
      width: 40%; }
    .footer__content-element p {
      font-size: 12px;
      font-weight: 100;
      line-height: 30px;
      padding-top: 20px; }
    .footer__content-element h2 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 200;
      border-bottom: 1px solid #f4572a;
      color: #f4572a; }

.header {
  height: 94vh;
  width: 100%;
  background-image: url("../assets/header.jpg");
  background-position: bottom center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }
  .header__title {
    color: #fff;
    font-size: 55px;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    padding: 60px 42px; }
  .header__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.55);
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 58px;
    left: 49%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out; }
  .header__icon:hover {
    bottom: 50px; }

.header::before {
  background-color: #021a1965;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%; }

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 6vh;
  background-color: #fff;
  position: sticky;
  z-index: 333;
  top: 0; }
  .menu__list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 4em; }
    .menu__list-element {
      list-style: none;
      margin: 15px;
      text-transform: uppercase; }
    .menu__list-element a {
      color: #000;
      position: relative;
      text-decoration: none;
      height: 16px; }
    .menu__list-element a:hover {
      color: #000; }
    .menu__list-element a:before {
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #f4572a;
      visibility: hidden;
      content: "";
      position: absolute;
      width: 100%;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      transition: all 0.3s ease-in-out; }
    .menu__list-element a:hover:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      visibility: visible; }

.interactions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeec;
  padding: 5em; }
  .interactions__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; }
    .interactions__content-button {
      margin-top: 40px;
      padding: 10px 20px;
      background-color: #f4572a;
      color: #fff;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 0px 3px rgba(0, 0, 0, 0.23); }
    .interactions__content-button:hover {
      background: linear-gradient(180deg, #f4572a 0%, #ffa913 100%);
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.16), 0 6px 9px rgba(0, 0, 0, 0.23); }
    .interactions__content-image {
      background-image: url("../assets/team.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 600px;
      width: 400px; }
    .interactions__content-list {
      list-style: none; }
      .interactions__content-list-join {
        font-weight: bold;
        padding-top: 20px; }
    .interactions__content-list h3 {
      font-size: 18px;
      font-family: "Source Sans Pro", sans-serif;
      padding: 20px 0; }
    .interactions__content-list li {
      font-size: 14px;
      margin-bottom: 5px; }
    .interactions__content-media {
      display: flex;
      margin-top: 20px; }
      .interactions__content-media-icon {
        width: 40px;
        height: 40px;
        margin: 10px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .interactions__content-media-icon:hover {
        border: 1px solid #f4572a;
        color: #f4572a; }
  .interactions__content h3 {
    font-size: 16px;
    text-align: left; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: #000; }
  .main__title {
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif; }
  .main__subtitle {
    position: relative;
    font-weight: 200;
    color: #000;
    text-decoration: none;
    padding-bottom: 10px; }
  .main__subtitle:hover {
    color: #000; }
  .main__subtitle:before {
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #f4572a;
    visibility: hidden;
    content: "";
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out; }
  .main__subtitle:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible; }
  .main__content {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    width: 60vw;
    padding: 40px; }
    .main__content-element {
      font-size: 14px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
    .main__content-element p {
      margin-left: 25px;
      transition: all 0.3s ease-in-out; }
    .main__content-element p:hover {
      transform: scale(1.05); }

.work-header {
  text-align: center;
  font-size: 18px; }

.work {
  display: flex;
  justify-content: space-between;
  align-content: center; }
  .work__element {
    height: 250px;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    color: #fff; }
    .work__element-content {
      display: flex;
      flex-direction: column; }
      .work__element-content-name a {
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        position: relative; }
      .work__element-content-name a:hover {
        color: #fff; }
      .work__element-content-name a:before {
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        visibility: hidden;
        content: "";
        position: absolute;
        width: 100%;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transition: all 0.3s ease-in-out; }
      .work__element-content-name a:hover:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        visibility: visible; }
    .work__element-content span {
      font-size: 13px; }

.work-subtitle {
  font-size: 12px;
  text-align: center;
  background-color: #eeeeec; }

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", serif;
  line-height: 24px;
  background-color: #ffffffdc;
  color: #0c0c0c;
  word-spacing: 1.35px; }

a {
  text-decoration: none;
  color: black;
  box-sizing: border-box; }

.phone {
  color: white; }

.one {
  background-color: #055b5a; }

.one:hover {
  background-color: #055b5adc; }

.two {
  background-color: #88af9a; }

.two:hover {
  background-color: #88af9ad7; }

.three {
  background-color: #ce6957; }

.three:hover {
  background-color: #ce6957e1; }

.four {
  background-color: #eeb98e; }

.four:hover {
  background-color: #eeb98ece; }

.five {
  background-color: #dc942b; }

.five:hover {
  background-color: #dc952be0; }

.six {
  background-color: #f4572a; }

.six:hover {
  background-color: #f4562ad8; }
