@import "./helpers/variables.scss";
@import "./helpers/mixins";

@import "./layout/benefits.scss";
@import "./layout/collateral.scss";
@import "./layout/footer.scss";
@import "./layout/header.scss";
@import "./layout/interactions.scss";
@import "./layout/main.scss";
@import "./layout/work.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", serif;
  line-height: 24px;
  background-color: #ffffffdc;
  color: #0c0c0c;
  word-spacing: 1.35px;
}

a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

.one {
  background-color: #055b5a;
}

.one:hover {
  background-color: #055b5adc;
}

.two {
  background-color: #88af9a;
}

.two:hover {
  background-color: #88af9ad7;
}

.three {
  background-color: #ce6957;
}

.three:hover {
  background-color: #ce6957e1;
}

.four {
  background-color: #eeb98e;
}

.four:hover {
  background-color: #eeb98ece;
}

.five {
  background-color: #dc942b;
}

.five:hover {
  background-color: #dc952be0;
}

.six {
  background-color: #f4572a;
}

.six:hover {
  background-color: #f4562ad8;
}
