.collateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/img3.jpg");
  background-attachment: fixed;
  position: relative;
  padding: 9em; }
  .collateral__content {
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    width: 60%;
    line-height: 36px;
    font-family: "Source Sans Pro", sans-serif; }
  .collateral__icon {
    border: 1px solid rgba(255, 255, 255, 0.7);
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 33px;
    left: 49%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center; }
  .collateral__icon:hover {
    bottom: 25px; }

.collateral::before {
  background-color: #021a1965;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%; }
