.header {
  height: 94vh;
  width: 100%;
  background-image: url("../assets/header.jpg");
  background-position: bottom center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }
  .header__title {
    color: #fff;
    font-size: 55px;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    padding: 60px 42px; }
  .header__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.55);
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 58px;
    left: 49%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out; }
  .header__icon:hover {
    bottom: 50px; }

.header::before {
  background-color: #021a1965;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%; }

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 6vh;
  background-color: #fff;
  position: sticky;
  z-index: 333;
  top: 0; }
  .menu__list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 4em; }
    .menu__list-element {
      list-style: none;
      margin: 15px;
      text-transform: uppercase; }
    .menu__list-element a {
      color: #000;
      position: relative;
      text-decoration: none;
      height: 16px; }
    .menu__list-element a:hover {
      color: #000; }
    .menu__list-element a:before {
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #f4572a;
      visibility: hidden;
      content: "";
      position: absolute;
      width: 100%;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      transition: all 0.3s ease-in-out; }
    .menu__list-element a:hover:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      visibility: visible; }
