.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: #000; }
  .main__title {
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif; }
  .main__subtitle {
    position: relative;
    font-weight: 200;
    color: #000;
    text-decoration: none;
    padding-bottom: 10px; }
  .main__subtitle:hover {
    color: #000; }
  .main__subtitle:before {
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #f4572a;
    visibility: hidden;
    content: "";
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out; }
  .main__subtitle:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible; }
  .main__content {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    width: 60vw;
    padding: 40px; }
    .main__content-element {
      font-size: 14px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
    .main__content-element p {
      margin-left: 25px;
      transition: all 0.3s ease-in-out; }
    .main__content-element p:hover {
      transform: scale(1.05); }
