@import "../helpers/mixins";
@import "../helpers/variables";

.benefits {
  @include centralizeCol;
  padding: 5em;

  &__header {
    font-size: 26px;
    font-family: $fontSans;
    text-transform: uppercase;
    margin-bottom: 40px;    
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    padding: 3em;
    width: 70vw;

    &-element {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      padding: 20px;

      &-img {
        width: 75px;
        height: 75px;
        border: 1px solid $orange;
        margin-right: 20px;
        margin-bottom: 20px;
        @include borderRadius;
        @include centralizeRow;        
        @include transition;
      }

      &-img:hover {
        border: 1px solid rgba(255, 255, 255, 0);
        background-color: #f8e1db;
      }
    }

    &-element h3 {
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 20px;
    }

    &-element p {
      width: 80%;
      font-weight: 200;
      text-align: center;
      font-size: 14px;
      padding-bottom: 20px;
      @include transition;
    }

    &-element p:hover {
      transform: scale(1.05);
    }
  }
}
