@import "../helpers/mixins";
@import "../helpers/variables";

.collateral {
  @include centralizeCol;
  @include img-background;
  background-image: url("../assets/img3.jpg");
  background-attachment: fixed;
  position: relative;
  padding: 9em;

  &__content {
    text-transform: uppercase;
    color: $white;
    font-size: 24px;
    width: 60%;
    line-height: 36px;
    font-family: $fontSans;
  }

  &__icon {
    border: 1px solid rgba(255, 255, 255, 0.7);
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 33px;
    left: 49%;
    @include borderRadius;
    @include transition;
    @include centralizeRow;
  }

  &__icon:hover {
    bottom: 25px;
  }
}

.collateral::before {
  background-color: #021a1965;
  @include before;
}
