@import '../helpers/mixins';
@import '../helpers/variables';

.footer {
  @include centralizeCol;
  padding: 9em;
  background-color: #0b423d;
  color: $white;

  &__content {
    width: 50%;
    display: flex;
    justify-content: space-between;

    &-element {
      width: 40%;
    }

    &-element p {
      font-size: 12px;
      line-height: 30px;
      padding-top: 20px;
    }

    &-element h2 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 200;
      border-bottom: 1px solid $orange;
      color: $orange;
    }
  }
}
