@import "../helpers/mixins";
@import "../helpers/variables";

.interactions {
  @include centralizeRow;
  background-color: #eeeeec;
  padding: 5em;

  &__content {
    @include centralizeCol;
    width: 30%;

    &-button {
      margin-top: 40px;
      padding: 10px 20px;
      background-color: $orange;
      color: $white;
      @include transition;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 0px 3px rgba(0, 0, 0, 0.23);
    }

    &-button:hover {
      background: linear-gradient(
        180deg,
        rgba(244, 87, 42, 1) 0%,
        rgba(255, 169, 19, 1) 100%
      );
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.16), 0 6px 9px rgba(0, 0, 0, 0.23);
    }

    &-image {
      background-image: url("../assets/team.jpg");
      @include img-background;
      background-position: center center;
      height: 600px;
      width: 400px;
    }

    &-list {
      list-style: none;

      &-join {
        font-weight: bold;
        padding-top: 20px;
      }
    }

    &-list h3 {
      font-size: 18px;
      font-family: $fontSans;
      padding: 20px 0;
    }

    &-list li {
      font-size: 14px;
      margin-bottom: 5px;
    }

    &-media {
      display: flex;
      margin-top: 20px;

      &-icon {
        width: 40px;
        height: 40px;
        margin: 10px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        @include transition;
        @include borderRadius;
        @include centralizeRow;
      }

      &-icon:hover {
        border: 1px solid $orange;
        color: $orange;
      }
    }
  }

  &__content h3 {
    font-size: 16px;
    text-align: left;
  }
}
