@import "../helpers/mixins";
@import "../helpers/variables";

.main {
  @include centralizeCol;
  padding: 50px;
  color: $black;

  &__title {
    text-transform: uppercase;
    font-family: $fontSans;
  }

  &__subtitle {
    position: relative;
    font-weight: 200;
    color: $black;
    text-decoration: none;
    padding-bottom: 10px;
  }

  &__subtitle:hover {
    color: $black;
  }

  &__subtitle:before {
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $orange;
    visibility: hidden;
    @include beforeWithoutHeight;
    @include scaleX0;
    @include transition;
  }

  &__subtitle:hover:before {
    @include scaleX1;
  }

  &__content {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    width: 60vw;
    padding: 40px;

    &-element {
      font-size: 14px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &-element p {
      margin-left: 25px;
      @include transition;
    }

    &-element p:hover {
      transform: scale(1.05);
    }
  }
}
